extends layout

block content
  h1 Music Api
  hr
  .row
    .col-sm-12
      h2 Search
      form(action="/", method="get")
        

        input(type="text", name='keywords',value=keywords)
        input(type='submit', value='Submit')
        - var checked= engine=='qq'
        input(type='radio', name='engine', value='qq', checked=checked)
        | qq
        - var checked= engine!='qq'
        input(type='radio', name='engine', value='xiami',checked=checked) 
        | xiami
      if data 
        ul
          each d in data.songList
            li
              //a(href='/get/song?id='+d.id, traget='_blank') #{d.artists[0].name} - #{d.name}
              if engine=='xiami'
                a(href=d.file target='_blank') #{d.artists[0].name} - #{d.name} - #{d.album.name}
              else
                a(href='/get/song?engine='+engine+'&id='+d.id, target='_blank') #{d.artists[0].name} - #{d.name}
          
    